<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6 text-white">
                        Employee Portal
                    </div>
                    <div class="col-6 text-right">

                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No.</th>
                            <th>Name</th>
                            <th>Login Time</th>
                            <th>Login Date</th>
                            <th>Full Day</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of empAttArr; let sr=index">
                            <td>{{sr+1}}</td>
                            <td>{{item.empName}}</td>
                            <td>{{item.time}}</td>
                            <td>{{item.date}}</td>
                            <td>{{item.isFull}}</td>
                            <td>
                                <button class="btn btn-success btn-sm" (click)="onEdit(item.id)" >Edit</button>
                                <button class="btn btn-danger btn-sm" (click)="onDelete(item.id)" >Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6 text-white">
                        Employee's Attendance
                    </div>
                    <div class="col-6 text-right">

                    </div>
                </div>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-6">
                            <label class="form-label" for="">Name</label>
                            <input class="form-control" list="browsers" name="empName" [(ngModel)]="empObj.empName">
                            <datalist  id="browsers">
                                <option *ngFor="let item of empArr" value={{item.empName}}>
                            </datalist>
                        </div>
                        <div class="col-6">
                            <label for="">Time</label>
                            <input type="time" class="form-control" name="time" [(ngModel)]="empObj.time">
                        </div>
                        <div class="col-6">
                            <label for="">Date</label>
                            <input type="date" class="form-control" name="date" [(ngModel)]="empObj.date">
                        </div>
                        <div class="col-6">
                            <label for="">Full Day</label>
                            <input class="form-control" list="full" name="isFull" [(ngModel)]="empObj.isFull">
                            <datalist  id="full">
                                <option value="True">
                                <option value="False">
                            </datalist>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-6 text-center">
                            <button class="btn btn-secondary btn-sm" (click)="attReset()">Reset</button>
                        </div>
                        <div class="col-6 text-center">
                            <button class="btn btn-success btn-sm" *ngIf="empObj.id==0" (click)="onSave()">Save Employee</button>
                            <button class="btn btn-success btn-sm" *ngIf="empObj.id!=0" (click)="onUpdate(empObj.id)">Update Employee</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>